<mat-sidenav-container>
    <div id="board">
        <!-- HEADER -->
        <div class="header" [ngClass]="'fuse-dark'" fxLayout="column">
            <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">
                <!-- BOARD SELECTION BUTTON -->
                <div fxLayout="row" fxLayoutAlign="center center" fxFlexOrder="2" fxFlexOrder.gt-xs="1">
                    <button mat-raised-button class="header-boards-button" [ngClass]="'fuse-dark-800'"
                        routerLink="/production-site/boards" aria-label="boards button">
                        <mat-icon class="mr-8">storefront</mat-icon>
                        <span>Locais</span>
                    </button>
                    <button mat-raised-button class="header-boards-button" [ngClass]="'fuse-dark-800'"
                        aria-label="boards button" (click)="socketTodo()">
                        <span>teste</span>
                    </button>
                </div>
                <!-- / BOARD SELECTION BUTTON -->

                <!-- BOARD NAME -->
                <div class="header-board-name mb-8 mb-md-0" fxLayout="row" fxLayoutAlign="center center"
                    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center" fxFlex="1 0 100%" fxFlex.gt-xs="1 0 auto"
                    fxFlexOrder="1" fxFlexOrder.gt-xs="2">
                    <mat-icon *ngIf="false" class="board-subscribe s-16">remove_red_eye</mat-icon>
                    <scrumboard-edit-board-name [name]="board.name">
                    </scrumboard-edit-board-name>
                </div>
                <!-- / BOARD NAME -->

                <!-- TOOLBAR -->
            </div>
        </div>
        <!-- / HEADER -->

        <div fxFlex class="board-content-wrapper">
            <!-- BOARD -->
            <div class="board-content ngx-dnd-container" fxLayout="row" ngxDroppable="list"
                [@animateStagger]="{value:'50'}">

                <!-- LIST -->
                <scrumboard-board-list (onDropCard)="onDropCard($event)"
                    class="scrumboard-board-list list-wrapper ngx-dnd-item" ngxDraggable [moves]="false"
                    [list]="board.lists[0]" [cards]="cardsSubject" [type]="'TODO'"
                    [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </scrumboard-board-list>
                <scrumboard-board-list (onDropCard)="onDropCard($event)"
                    class="scrumboard-board-list list-wrapper ngx-dnd-item" ngxDraggable [moves]="false"
                    [list]="board.lists[1]" [cards]="cardsSubject" [type]="'DOING'"
                    [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </scrumboard-board-list>
                <scrumboard-board-list (onDropCard)="onDropCard($event)"
                    class="scrumboard-board-list list-wrapper ngx-dnd-item" ngxDraggable [moves]="false"
                    [list]="board.lists[2]" [cards]="cardsSubject" [type]="'DONE'"
                    [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </scrumboard-board-list>
                <!-- / LIST -->
            </div>
            <!-- / BOARD -->
        </div>
        <!-- primary content -->
    </div>
</mat-sidenav-container>