.imagem1{
    min-height: 200px;
    width: 70%;
    position: absolute;
    height: 50%;
    left: 504px !important;
    margin-top: 138px !important;
}

.background{
    background: #0000ff; 
    background: -moz-linear-gradient(left,  #8dd2fd 0%, #8dd2fd 50%, #0000ff 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0000ff), color-stop(50%,#0000ff), color-stop(100%,#0000ff)); 
    background: -webkit-linear-gradient(left,  #8dd2fd 0%,#8dd2fd 50%,#0000ff 100%); 
    background: -o-linear-gradient(left,  #8dd2fd 0%,#8dd2fd 50%,#0000ff 100%); 
    background: -ms-linear-gradient(left,  #8dd2fd 0%,#8dd2fd 50%,#0000ff 100%); 
    background: linear-gradient(to right,  #8dd2fd 0%,#8dd2fd 50%,#0000ff 100%); 
    
    width: 100%;
}