:host {
    padding-top: 20px;
    .container {
        width: 100%;
        max-width: 1200px !important;
        margin: 0 auto !important;
        .row {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    form {
        width: 100%;
        mat-form-field {
            width: 100%;
        }
    }

    .total {
        .card {
            height: 150px;
            background-color: #fff;
            border: none;
            border-bottom: 5px solid #1b447a;
            padding-top: 30px;
            margin-bottom: 49px;
            .value {
                font-size: 23px;
                font-weight: 600;
            }
            .title {
                font-size: 14px;
                color: rgb(141, 138, 138);
            }
            mat-icon {
                font-size: 30px;
                width: 100%;
                margin-bottom: 5px;
                color: #1b447a;
            }
        }
        .card:last-child {
            margin-bottom: 0px;
        }
    }

    .dashboard {
        .card {
            height: 550px;
            background-color: #fff;
            border: none;
            border-bottom: 5px solid #1b447a;
        }
    }
    button {
        background-color: #1b447a;
        border: 2px solid #1b447a;
        color: #fff;
        margin-top: 14px;
    }
}
