<div id="profile" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center new">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div class="row">
                <div class="col-sm-1">
                    <div class="mt-26 mb-18">
                        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/home'">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-sm-5 p-3">
                    <div class="mt-26 mb-18" fxLayout="column" fxLayoutAlign="start start"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2">
                            Matheus Moura
                        </div>
                    </div>
                </div>

                <!-- / APP TITLE -->
                <div class="col-sm-6 text-right p-3">
                    <div class="mt-26 mb-18">
                        <button mat-raised-button class="save-profile-button" [disabled]="profileForm.invalid"
                            (click)="addProfile()">
                            <span>Salvar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form [formGroup]="profileForm" class="profile w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="Informações básicas">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="row form-group">
                                    <div class="col">
                                        <h3>Dados</h3>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>Nome da empresa</mat-label>
                                            <input matInput placeholder="Nome da empresa" name="name"
                                                formControlName="name" required>
                                            <mat-error>O nome é obrigatório</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>Nome Fantasia</mat-label>
                                            <input matInput placeholder="Nome Fantasia" name="tradeName"
                                                formControlName="tradeName" required>
                                            <mat-error>O nome é obrigatório</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email da empresa" name="email"
                                                formControlName="email" required>
                                            <mat-error>O Email é obrigatório</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>CNPJ</mat-label>
                                            <input matInput placeholder="CNPJ" name="document" formControlName="document"
                                                required>
                                            <mat-error>O CNPJ é obrigatória</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>Cidade</mat-label>
                                            <input matInput placeholder="Cidade" name="cidade"
                                                formControlName="cidade" required>
                                            <mat-error>A cidade e obrigatoria</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>Estado</mat-label>
                                            <input matInput placeholder="Estado" name="estado" formControlName="estado"
                                                required>
                                            <mat-error>Estado e obrigatorio</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                        <mat-form-field floatLabel="always" appearance="outline" class="w-100-p">
                                            <mat-label>CEP</mat-label>
                                            <input matInput placeholder="Codigo Postal" name="cep"
                                                formControlName="cep" required>
                                            <mat-error>Codigo Postal é obrigatório</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col">
                                        <button mat-raised-button color="accent" class="save-profile-button"
                                            [disabled]="profileForm.invalid" (click)="addProfile()">
                                            <span>Salvar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
<br><br>