<!-- CARD DETAILS -->
<div class="list-card-details">

    <!-- CARD NAME -->
    <div class="row">
        <div class="col">
            <div class="list-card-name">
                <mat-icon class="s-24">perm_identity</mat-icon> {{card.cliente}}
            </div>
        </div>
        <div class="col">
            <div class="list-card-name text-right">
                Pedido #{{card.id}}<br>
                <span class="hour">{{card.date | date: 'HH:ss'}}</span>
            </div>
        </div>
    </div>

    <!-- / CARD NAME -->

    <p class="list-card-item" *ngFor="let item of card.itens">
        <mat-icon class="s-14">room_service</mat-icon> {{item.description}} <mat-icon class="s-12">clear</mat-icon>
        {{item.quantity}}
    </p>

    <div class="footer text-right">
        <span class="icon">
            <mat-icon class="s-24">query_builder</mat-icon>
        </span>
        <span class="hour"> {{time}}</span>
    </div>


</div>