<div class="list mat-elevation-z1" fxLayout="column">

    <!-- LIST HEADER -->
    <div class="list-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <scrumboard-board-edit-list-name fxFlex="1 0 auto" [list]="list">
        </scrumboard-board-edit-list-name>
    </div>
    <!-- / LIST HEADER -->

    <!-- LIST CONTENT -->
    <div class="list-content" fxLayout="column">
        <div class="list-cards ngx-dnd-container" ngxDroppable="card" (out)="onDrop($event)"
            fusePerfectScrollbar #listScroll>
            <!-- <scrumboard-board-card ngxDraggable (click)="openCardDialog(cardId)" -->
            <scrumboard-board-card ngxDraggable class="scrumboard-board-card ngx-dnd-item"
                *ngFor="let card of (cards | async)" [card]="card" [model]="card">
            </scrumboard-board-card>
        </div>
    </div>
    <!-- / LIST CONTENT -->

</div>