@import "src/@fuse/scss/fuse";

.sales {
    width: 100%;
    .banner-imgaa {
        width: 100%;
        img {
            width: 100%;
        }
        margin-bottom: 20px!important;
    }
    .content-card {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        .row {
            width: 100%;
            background-color: #fff;
        }
    }
    .filter {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    .filter-btn {
        background-color: #1b447a!important;
        border: 2px solid #1b447a!important;
        color: #fff!important;
        margin-top: 14px!important;
    }
}
